<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h2 style="text-align:center; margin-bottom: 20px;">Login To Your Account</h2>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </section>
</body>
</html>